
.myWorksPage{
    background: url('./../img/gr3.png') no-repeat bottom -20px right -20px/303px 303px,
    #F4F3F0 ;
    text-align: center;
}
.skillPageImgLine{
    width: 160px;
    height: 19px;
    left: calc(50% - 160px/2);
    padding-top: 50px;
}
.myWorkPageName{
    font-size: 32px;
    line-height: 105%;
    color: #3A5F56;
    font-weight: 400;
}
.myWorkItems{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 50px;
}
.myWorkItem {
    width: 340px;
    height: 100%;
    margin-bottom: 50px;
    border-radius: 5px;
}

