
.myWorksPage{
    color: #f7f7f7;
    text-align: center;


}
.myWorkItems{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 50px;


}

.myWorkItem {
    width: 340px;
    height: 100%;
    margin-bottom: 50px;

}
.myWorkItemImgButton{
    background-color: #f7f7f7;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.myWorkItemImgButton a {
    text-decoration: none;
    height: 25px;
    display: inline-block;
    width: 70px;
    background-color: #272b33;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 5px;
}
.myWorkItemImgButton a:hover{
    background-color: #61dafb;
    color: #272b33;
    transition: 0.5s;
}