.myWorksPage{
    color: #f7f7f7;
    text-align: center;
    margin-top: 50px;
}
.myWorkItems{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 50px;


}

.myWorkItemImg {
    width: 340px;
    height: 100%;
    margin-bottom: 50px;



    position: relative;
}
.myWorkItemImg img {
    width: 100%;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}
.myWorkItemImg a {

    text-decoration: none;
    height: 25px;
    display: inline-block;
    width: 70px;
    background: ;
    background-color: #FFF;
    padding: 10px;
}
.myWorkItemImg a:hover{
    background-color: #20232a;
    color: #FFFFFF;
    transition: 0.8s;
}