.greetings{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #61dafb;
    background-color: #272b33;
    height: 100%;

    padding: 30px;
}
.greetings h2{
    width: 40%;
    align-self: center;
    font-size: 30px;
}
.greetings img{
    width: 300px;
    height: 400px;
    align-self: center;
    object-fit: cover;
}