.greetings{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #61dafb;

    height: 100%;

    padding: 30px;
}
.greetings h2{
    width: 40%;
    align-self: center;
    font-size: 25px;
}
.greetings img{
    width: 300px;
    height: 400px;
    align-self: center;
    object-fit: cover;
    border-radius: 5px;
}
@media screen and (max-width: 600px){
    .greetings h2{
        font-size: 15px;
        width: 100%;
        text-align: center;
    }
}