@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.distanceWork {
  height: 300px;
  background: url('../assets/img/bgContact.png') no-repeat bottom -20px left -20px/755px 300px;
  display: flex;
  justify-content: center;
  padding: 0px 30px;
  position: relative;
  @media screen and (max-width: 600px) {
    height: 250px;
    padding: 0px 10px;

  };

  .distanceWorkInfo {
    color: $textColor;
    font-weight: $textWeight;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    align-self: center;
    background-color: #F4F3F0;
    border-radius: 16px;
    padding: 0px 15px;
    .distanceWorkMessage{
      display: inline-block;
      margin-left: 10px;
    }
    @media screen and (max-width: 900px) {
      width: 90%;
      font-size: 24px;
      padding: 5px;
    }
    @media screen and (max-width: 600px) {
      width: 90%;
      font-size: 20px;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      width: 125px;
      font-family: Roboto;
      margin-left: 20px;
      margin-right: 10px;
      transition: 0.7s;
      @include button(#F4F3F0, $textColor, 5px);

      &:hover {
        background-color: #272b33;
      }

      @media screen and (max-width: 400px) {
        width: 100px;
        padding: 5px 10px;
      }


    }
  }


}
