.skillsPage {
    display: flex;
    flex-direction: column;
    text-align: center;
     padding-top: 50px;
    color: #3a5f56;
    font-size: 32px;
    background: url('./../img/bgSkills.png') no-repeat bottom -20px left -20px/328px 346px, #FFFFFF;
}

.skills{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px  30px;

}



