@import "variables";
@mixin text($fontFamily, $fontWeight, $lineHeight){
  font-family:$fontFamily;
  font-weight:$fontWeight;
  color: $textColor;
  line-height: $lineHeight;
}
@mixin button($colorBtnText, $colorBtn,$borderRadiusBtn){
  color:$colorBtnText ;
  background-color:$colorBtn;
  border-radius: $borderRadiusBtn;

;

}