@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
.linksHeader{
    display: flex;
    justify-content: flex-end;
   margin: 0 auto;
}
.linksHeader a{
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: #3A5F56;
}
.linksHeader a:hover{
    color:  #61dafb;
}