.footer{
    color:#3a5f56;
    display: flex;
    flex-direction: column;
    align-items: center;
margin-top: 50px;
}
.footerSocial a {
    margin-right: 15px;
}
.footerSocial a img{
    width: 50px;
    height: 50px;
}