@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Source+Serif+Pro:wght@400;600;700&display=swap');

.mainPages {
    margin: 0 ;
    padding: 0;
    color: black;

}
.center {
    max-width:1960px;
    margin:0 auto;

}
