@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $textColor;
  font-size: 32px;
  background: url('./../img/dr.png') no-repeat bottom  right -300px/468px 402px;

  .formMain {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    @media screen and (max-width: 600px) {
      margin-top: 0px;
    }
    & input{
      height: 33px;
    }
    & input, & textarea {
      width: 100%;
      margin-bottom: 10px;

    }
  }
  .submitBtn {
    padding: 10px 20px;
    width: 125px;
    font-size: 16px;
    border: none;
    font-family: Roboto;
    transition: 0.7s;
    &:hover {
      background-color: #272b33;
    }
    @include button (#F4F3F0, $textColor, 5px);
    @media screen and (max-width: 400px) {
      padding: 5px 10px;
    }
  }
}

