.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: #f7f7f7;
}
.formMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.formMain input, .formMain textarea{
    width: 330px;
    margin-bottom: 10px;
}